.button {
    border: 0;
    width: 100px;
    border-radius: 3px;
}
.container{
    display: flex;
    flex-direction: column;
}
.cardhabit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: goldenrod;
    margin: 5vh 10vw;
    border-radius: 10px;
    
}
.caixaHabitos{
    border: 2px solid black;
    width: 70%;
    margin: 15%;
    
}

.cardsEvents{
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    margin: 5vh 10vw;
    border-radius: 10px;
    
}
.caixaEvents{
    border: 2px solid black;
    width: 70%;
    margin: 15%;
    
}